parameters:
	ignoreErrors:
		-
			message: '#^Instanceof between Goldnead\\IdentityContracts\\Identity and Goldnead\\IdentityContracts\\Identity will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/ActivityRecorder.php

		-
			message: '#^Strict comparison using \=\=\= between non\-falsy\-string and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Sanitizers/DefaultActivitySanitizer.php

		-
			message: '#^Instanceof between Illuminate\\Http\\Request and Illuminate\\Http\\Request will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Support/ContextCapture.php
